#ParentDIV .be-text span { word-wrap: break-word; }
#ParentDIV .be-textarea span { word-wrap: break-word; line-height: 1.2; }
#ParentDIV .be-bold .be-text-content { font-weight: bold; }
#ParentDIV .be-italic .be-text-content { font-style: italic; }
#ParentDIV .be-underlined .be-text-content { text-decoration: underline; }
#ParentDIV .be-left-aligned { text-align: left; }
#ParentDIV .be-center-aligned { text-align: center; }
#ParentDIV .be-right-aligned { text-align: right; }
#ParentDIV .be-dynamic-resizing { white-space: nowrap; }
#ParentDIV .be-dynamic-resizing span { display: inline-block; }
#ParentDIV .be-component span.be-watermark { display: none; }
#ParentDIV .be-uppercase { text-transform: uppercase; }
#ParentDIV .be-lowercase { text-transform: lowercase; }
#ParentDIV .be-titlecase { text-transform: capitalize; }
#ParentDIV .be-titlecase td {text-transform: capitalize;}
#ParentDIV .be-helper { width: 99%; height: 100%; position: relative; overflow: visible; }
#ParentDIV .be-image .be-helper { overflow: visible; }
#ParentDIV .rotate90 .be-helper { -ro-transform: rotate(90deg); -webkit-transform: rotate(90deg); }
#ParentDIV .rotate180 .be-helper { -ro-transform: rotate(180deg); -webkit-transform: rotate(180deg); }
#ParentDIV .rotate270 .be-helper { -ro-transform: rotate(270deg); -webkit-transform: rotate(270deg); }
.align-r { text-align:right;}
.align-l { text-align:left;}
.hdrow {background:#DFDFDF; width:100%; font-weight:bold; }
.whitehdrow {background:#ffffff; width:100%; font-weight:bold; }
.row {background:#DFDFDF; width:100%;}
.whiterow {background:#ffffff; width:100%;}
.tagtbl { border-collapse: collapse;}
.tbl {border:0; border-spacing:0;}
.tblbdg { text-align:center; page-break-after:always;}
.pgBr {page-break-after:always;}