#ParentDIV { background-repeat: no-repeat; overflow: visible; position: relative; }
#ParentDIV table { font-size: 100%; border-collapse: collapse; }
#ParentDIV .be-component { position: absolute; font-weight: normal; text-align: left; }
#ParentDIV .be-image img { width: 100%; height: auto; display: block; }
#ParentDIV .be-image-profile img { height: 100%; }
#ParentDIV .be-text span { word-wrap: break-word; }
#ParentDIV .be-textarea span { word-wrap: break-word; line-height: 1.2; }
#ParentDIV .be-bold .be-text-content { font-weight: bold; }
#ParentDIV .be-italic .be-text-content { font-style: italic; }
#ParentDIV .be-underlined .be-text-content { text-decoration: underline; }
#ParentDIV .be-left-aligned { text-align: left; }
#ParentDIV .be-center-aligned { text-align: center; }
#ParentDIV .be-right-aligned { text-align: right; }
#ParentDIV .be-dynamic-resizing { white-space: nowrap; }
#ParentDIV .be-dynamic-resizing span { display: inline-block; }
#ParentDIV .be-component span.be-watermark { display: none; }
#ParentDIV .be-uppercase { text-transform: uppercase; }
#ParentDIV .be-lowercase { text-transform: lowercase; }
#ParentDIV .be-titlecase { text-transform: capitalize; }
#ParentDIV .be-titlecase td {text-transform: capitalize;}
#ParentDIV .be-helper { width: 100%; height: 100%; position: relative; overflow: visible; }
#ParentDIV .be-image .be-helper { overflow: visible; }
#ParentDIV .rotate90 .be-helper { -ro-transform: rotate(90deg); -webkit-transform: rotate(90deg); }
#ParentDIV .rotate180 .be-helper { -ro-transform: rotate(180deg); -webkit-transform: rotate(180deg); }
#ParentDIV .rotate270 .be-helper { -ro-transform: rotate(270deg); -webkit-transform: rotate(270deg); }
.align-r { text-align:right;}
.align-l { text-align:left;}
.hdrow {background:#DFDFDF; width:100%; font-weight:bold; }
.whitehdrow {background:#ffffff; width:100%; font-weight:bold; }
.row {background:#DFDFDF; width:100%;}
.whiterow {background:#ffffff; width:100%;}
.tagtbl { border-collapse: collapse;}
.tbl {border:0; border-spacing:0;}
.tblbdg { text-align:center; page-break-after:always;}
.pgBr {page-break-after:always;}

/* Additional styles to handle page breaks effectively */
@media print {
  table, tr, td {
      page-break-inside: avoid;
  }
  tr {
      page-break-before: auto;
      page-break-after: auto;
  }
  td {
      page-break-before: auto;
      page-break-after: auto;
  }
  tbody {
      page-break-inside: auto;
      page-break-before: auto;
      page-break-after: auto;
  }
  /* Ensure that content starts at the top of the next page */
  .avoid-page-break {
      page-break-inside: avoid;
      page-break-before: auto;
      page-break-after: auto;
  }
  tr {
      page-break-before: always;
      break-inside: avoid;
  }
}